{% load static %}
<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body
    class="text-blueGray-700 antialiased"
    style="font-family: 'Inter', sans-serif"
  >
    {% include 'base/input_timesheet_modal.html' %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      {% include 'sidebar.html' %}
      <div class="relative md:ml-64 bg-blueGray-50">
        <nav
          class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4"
        >
          <div
            class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
          ></div>
        </nav>
        <!-- Header -->
        <div class="relative bg-purple md:pt-10 pb-32 pt-8"></div>
        <div class="px-4 md:px-10 mx-auto w-full -m-24">
          <div class="flex flex-wrap mt-4">
            <div class="w-full mb-12 xl:mb-0 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
              >
                <div class="rounded-t mb-0 px-4 py-3 border-0">
                  <div class="flex flex-wrap items-center">
                    <div
                      class="relative w-full px-4 max-w-full flex flex-col py-8 min-h-screen"
                    >
                      <div class="container mx-auto max-w-3xl mt-8 relative">
                        <h1
                          class="text-2xl font-bold text-gray-700 px-6 md:px-0"
                        >
                          Account Settings
                        </h1>
                        <ul
                          class="flex border-b border-gray-300 text-sm font-medium text-gray-600 mt-3 px-6 md:px-0"
                        >
                          <li
                            class="mr-8 text-gray-900 border-b-2 border-gray-800"
                          >
                            <a href="#_" class="py-4 inline-block"
                              >Profile Info</a
                            >
                          </li>
                          <li class="mr-8 hover:text-gray-900">
                            <a href="#_" class="py-4 inline-block">Security</a>
                          </li>
                          <li class="mr-8 hover:text-gray-900">
                            <a href="#_" class="py-4 inline-block">Billing</a>
                          </li>
                        </ul>
                        <form>
                          <!-- @csrf -->
                          <div
                            class="w-full bg-white rounded-lg mx-auto mt-8 flex overflow-hidden rounded-b-none"
                          >
                            <div class="md:w-2/3 w-full">
                              <div class="py-8 px-16">
                                <label for="name" class="text-sm text-gray-600"
                                  >Name</label
                                >
                                <input
                                  class="mt-2 border-2 border-gray-200 px-3 py-2 block w-full rounded-lg text-base text-gray-900 focus:outline-none focus:border-indigo-500"
                                  type="text"
                                  value=""
                                  name="name"
                                  placeholder="Name"
                                />
                              </div>
                              <hr class="border-gray-200" />
                              <div class="py-8 px-16">
                                <label for="email" class="text-sm text-gray-600"
                                  >Email Address</label
                                >
                                <input
                                  class="mt-2 border-2 border-gray-200 px-3 py-2 block w-full rounded-lg text-base text-gray-900 focus:outline-none focus:border-indigo-500"
                                  type="email"
                                  name="email"
                                  value="{{ user.email }}"
                                />
                              </div>
                              <hr class="border-gray-200" />
                            </div>
                          </div>
                        </form>
                      </div>
                      <div
                        class="p-16 py-8 bg-gray-300 clearfix rounded-b-lg border-t border-gray-200 flex justify-between absolute bottom-0 w-full"
                      >
                        <p class="text-xs text-gray-500 tracking-tight mt-2">
                          Click on Save to update your Profile Info
                        </p>
                        <input
                          type="submit"
                          class="bg-indigo-500 text-white text-sm font-medium px-6 py-2 rounded uppercase cursor-pointer"
                          value="Save"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="block py-4">
            <div class="container mx-auto px-4">
              <hr class="mb-4 border-b-1 border-blueGray-200" />
              <div
                class="flex flex-wrap items-center md:justify-between justify-center"
              >
                <div class="w-full md:w-4/12 px-4">
                  <div class="text-sm text-blueGray-500 font-semibold py-1">
                    Copyright © <span id="javascript-date"></span>
                    <a
                      href="https://www.creative-tim.com"
                      class="text-blueGray-500 hover:text-blueGray-700 text-sm font-semibold py-1"
                    >
                      TimeBot
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      const purple = document.querySelector('{{ sidebar_select }}');
      purple.classList.add('text-purple');
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      charset="utf-8"
    ></script>
    <script
      src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      charset="utf-8"
    ></script>
    <script type="text/javascript">
      /* Sidebar - Side navigation menu on mobile/responsive mode */
      function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle('hidden');
        document.getElementById(collapseID).classList.toggle('bg-white');
        document.getElementById(collapseID).classList.toggle('m-2');
        document.getElementById(collapseID).classList.toggle('py-3');
        document.getElementById(collapseID).classList.toggle('px-6');
      }
      /* Function for dropdowns */
      function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== 'A') {
          element = element.parentNode;
        }
        var popper = Popper.createPopper(
          element,
          document.getElementById(dropdownID),
          {
            placement: 'bottom-end',
          }
        );
        document.getElementById(dropdownID).classList.toggle('hidden');
        document.getElementById(dropdownID).classList.toggle('block');
      }

      const file_name = document.getElementById('file_name');
      const file_input = document.getElementById('file');
      const files = document.getElementById('files');
      file_input.addEventListener('change', () => {
        files.innerHTML = '';
        Object.entries(file_input.files).forEach((file) => {
          let name = document.createElement('p');
          name.innerHTML = file[1].name;
          files.appendChild(name);
        });
      });
    </script>
  </body>
</html>
