{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - TimeBot</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/logo.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form
            method="post"
            class="login100-form"
            action="{% url 'register' %}"
          >
            {% csrf_token %}
            <a href="{% url 'index' %}"
              ><span class="login100-form-title p-b-26">TimeBot</span></a
            >

            <div class="wrap-input100">
              <input class="input100" type="text" name="email" required />
              <span class="focus-input100">Email</span>
            </div>

            <div class="wrap-input100 validate-input">
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input
                class="input100"
                type="password"
                name="password"
                required
              />
              <span class="focus-input100">Password</span>
            </div>

            <div class="wrap-input100 validate-input">
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input
                class="input100"
                type="password"
                name="password2"
                required
              />
              <span class="focus-input100">Re-enter Password</span>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button
                  class="login100-form-btn"
                  style="background-color: #5d5dff"
                >
                  Register
                </button>
              </div>
            </div>

            <div class="text-center p-t-20">
              <span class="txt1"> Already have an account? </span>

              <a class="txt2" href="{% url 'login' %}">Sign In</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
